.root {
    background-color: #f2f3fb;
    padding: 40px 20px;
}

.root>div {
    margin-bottom: 40px;
}

.root div:last-of-type {
    margin-bottom: 0;
}

.mainTitle {
    font-size: 38px;
    font-weight: bold;
    line-height: 125%;
    margin-bottom: 40px;
}

.contentContainer,
.columnsContainer {
    max-width: 1440px;
    margin-inline: auto;
}

.contentText {
    font-size: 20px;
    line-height: 120%;
}

.columnsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.column {
    box-sizing: border-box;
}

.columnImage {
    width: 100%;
}

.columnText {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 768px) {
    .root {
        padding: 80px;
    }

    .root>div {
        margin-bottom: 80px;
    }

    .mainTitle {
        font-size: 56px;
    }

    .contentText {
        font-size: 38px;
    }

    .columnText {
        font-size: 32px;
    }

}

@media (min-width: 1400px) {
    .root {
        padding: 100px 80px;
    }

    .mainTitle {
        font-size: 64px;
    }

    .columnsContainer {
        gap: 40px;
    }
}