.logoContainer {
    background-color: #20d763;
    padding: 40px 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo svg {
    width: 80%;
    color: white;
}

@media (min-width: 768px) {
    .logoContainer {
        padding: 80px;
    }

    .logo svg {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .logo svg {
        width: 40%;
        padding-block: 100px;
    }
}