.footerContainer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 40px 20px;
}

.footerTitle {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footerText {
    font-size: 20px;
    line-height: 125%;
}

@media (min-width: 768px) {
    .footerContainer {
        padding: 80px;
    }

    .footerTitle {
        font-size: 42px;
    }

    .footerText {
        font-size: 25px;
    }
}

@media (min-width: 1400px) {
    .footerContainer {
        padding-block: 100px;
    }
}